# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.eslintcache
*.eslintcache
/src/assets/Videos/Ogmento_UI-Video.mp4
.env
node-server/dist/config.json
node-server/dist/expoEndPoints.js
node-server/dist/expoEndPoints.js.map
node-server/dist/modal.js
node-server/dist/modal.js.map
node-server/dist/server.js
node-server/dist/server.js.map
node-server/dist/certificates/vendingmachine.cer
node-server/dist/certificates/vendingmachine.key

node-server/dist/certificates/vendingmachine.crt
.env
dist/assets/ActivatedCurrentMachineImage-BCg-Cp2R.png
dist/assets/App development-amico (1)-DEjDqdgm.png
dist/assets/CategoryBanner-5ApwuwqG.png
dist/assets/DefaultBackgroundImage-DCool41V.png
dist/assets/iconic_product_symbol-DimnStWp.png
dist/assets/index-BVxGXVLZ.js
dist/assets/index-C8kVk3j9.css
dist/assets/Kiosk_Welcome_Page_Banner-BXNVTn6c.jpg
dist/assets/LoginPage_Banner-BemkAuAn.png
dist/assets/NewTag-DYWB5BY9.png
dist/assets/Oriflame_logo_WelcomePage-DoeBtSzu.png
dist/assets/OriflameRegistrationQRCode-BAjOQDw2.png
dist/assets/OriflameSans3.0-Bold-CDyXX48M.otf
dist/assets/OriflameSans3.0-BoldOblique-BjQ34IUg.otf
dist/assets/OriflameSans3.0-Oblique-B2Sli2PD.otf
dist/assets/OriflameSans3.0-Regular-DuD4jSPX.otf
dist/assets/TopHomePageBanner-BR6RCvyF.png
dist/index.html
tsconfig.tsbuildinfo
